body {
    text-align: center;
    width: 250px;
    margin: auto;
    font-family: fantasy;
    background-color: rgba(29, 45, 71, 0.667);
    position: relative;
    top: 100px;

}

table{
  border-width: 3px;
  border-color: rgb(59, 40, 40);
  border-style: inset;
}

#reset {
    color: black;
    padding-top: 20px;
}
#btn {
    font-family: fantasy;
    font-size: 20px;
    background-color: darkslategrey;
    color: rgb(108, 255, 177);
    border-style: double;
    border-color: #65a5a5;
    padding: 5px;
    border-radius: 20px;
}

#btn:hover {
    background-color: rgb(24, 245, 124);
    border-color: white;
    color: #1E88E5;
}

h1{
  border-radius: 10px;
  border-style: inset;
  font-size: 40px;
  border-top: #65a5a5;
  border-bottom: #1E88E5;
  
}

#message{
  font-size: 20px;
  color: rgb(100, 235, 141);
  padding-bottom: 20px;
}

.grid{
  height: 75px;
  width: 75px;
  font-size: 35px;
  text-align: center;
}